.HeaderNavBar-main-div {
    width: 90%;
    margin: 0 5% 1rem 5%;
    padding-bottom: 10px;
    text-align: right;
    border-radius: 10px;
    background-color: #FFF;
    display: flex;
}

.header-img-span {
    position: relative;
    bottom: -2px;
}

.header-img {
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 5px;
    object-fit: fill;
}

#hnb-name-link {
    margin-right: 15px;
}

#user-type-span {
    font-size: 17px;
    padding: 2px 6px;
    border: solid 2px #3a5f0b;
    margin-right: 10px;
    border-radius: 50%;
    color: #3a5f0b;
}

#user-type-global-span {
    position: relative;
    bottom: 4px;
}

#signout-link {
    padding-right: 15px;
}

#burger-menu-div {
    display: inline-block;
    margin: 5px 5px 0px 10px;
    flex-basis: 20px;
    padding: 6px 0 0 10px;
}

.burger-menus {
    width: 10px;
    margin: 2px auto;
    border: 2px solid #3a5f0b;
}

#nav-user-profile {
    flex: 1;
}

@media (max-width: 1225px) {
    #user-type-span {
        font-size: 14px;
        padding: 0.6px 4px;
    }
}

@media (min-width: 700px) {
    #burger-menu-div {
        display: none;
    }
}

@media (max-width: 700px) {
    .HeaderNavBar-main-div {
        padding-bottom: 5px;
    }
}

@media (max-width: 500px) {
    #hnb-name-link, #signout-link, #user-type-span {
        font-size: inherit;
    }

    #burger-menu-div {
        padding-left: 0;
    }

    .burger-menus {
        width: 10px;
        margin: 2px auto;
    }
}