.SideNavBar_main_div {
    display: inline;
    float: left;
    width: 20%;
    height: 68vh;
    background-color: #FFF;
    border-radius: 15px;
    position: relative;
}

#my_listings_span {
    color: #3a5f0b;
}

.listings_panel {
    background-color: #dde6d5;
    width: 70%;
    margin: auto;
}

#farmers_view_padding {
    padding: 0px 10px 10px 10px;
}

#create_listings_listings_padding {
    padding: 10px 10px 0px 10px;
}

#oth_farmer_p {
    margin-top: 0px;
}

#listings_link_p {
    margin-bottom: 0px;
    padding-bottom: 16px;
}

#my_connect_space_span {
    padding-right: 10px;
}

.my_connects_tags {
    padding-right: 10px;
    font-family: Satisfy;
    font-size: 20px;
    color: #3a5f0b;

}

.my_connects_span {
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 5px;
    border: solid 1px;
    color:  #663300;
}

.requests_interests_links {
    padding-right: 10px;
}

.requests_interests_spans {
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 5px;
    height: 50px;
    border: solid 1px;
    color: #FFF;
    background-color: #3a5f0b;
}

#search_h4 {
    margin: 35px 0px 0px 0px; 
    color: #3a5f0b;
}

#search_links_p {
    margin-top: 10px;
}

#bottom_signout_link {
    position: absolute;
    display: block;
    margin-bottom: 20px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}