.SideNavBar-main-div {
    height: 68vh;
    background-color: #FFF;
    border-radius: 15px;
    position: relative;
}

#my-listings-span {
    color: #3a5f0b;
}

.listings-panel {
    background-color: #dde6d5;
    width: 70%;
    margin: auto;
}

#farmers-view-padding {
    padding: 0px 10px 10px 10px;
}

#create-listings-listings-padding {
    padding: 10px 10px 0px 10px;
}

#other-farmers-p {
    margin-top: 0px;
}

#listings-link-p {
    margin-bottom: 0px;
    padding-bottom: 16px;
}

#my-connect-space-span {
    padding-right: 10px;
}

.my-connects-tags {
    font-family: Satisfy;
    font-size: 1.18rem;
    padding-right: 10px;
    color: #3a5f0b;
}

.my-connects-span, .requests-interests-spans {
    font-size: inherit;
    padding: 2px 6px;
    border-radius: 5px;
    height: 50px;
    border: solid 1px;
}

.my-connects-span {
    color:  #663300;
}

.requests-interests-spans {
    color: #FFF;
    background-color: #3a5f0b;
}

.requests-interests-links {
    display: inline-block;
    height: 20px;
    padding-right: 10px;
}

#search-h4 {
    margin: 35px 0px 0px 0px; 
    color: #3a5f0b;
}

#search-links-p {
    margin-top: 10px;
}

#bottom-signout-link {
    position: absolute;
    display: block;
    margin-bottom: 20px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1350px) {
    .my-connects-tags {
      font-size: 1rem;
    }
  }

  @media (max-width: 1225px) {
    .my-connects-tags {
      font-size: 0.88rem;
    }
  }

  @media (max-width: 900px) {
    .my-connects-tags {
      font-size: 0.76rem;
    }
  }

  @media (max-width: 700px) {
    .SideNavBar-main-div {
        border-radius: 0 15px 15px 0;
        height: 85vh;
    }
}