.SignUp-main-div {
    width: 500px;
    margin: auto;
    border: solid 1px grey; 
    box-shadow: 10px 10px grey; 
    border-radius: 10px; 
    padding-bottom: 25px;
    background-color: #FFF;
}

#signup-form {
    padding: 10px 0px;
    margin-bottom: 5px;
}

#switch-btn-div {
    padding: 0 10px;
}

.signup-inputs {
    width: 80%;
    padding: 5px 10px;
    font-size: 1rem;
    border: grey solid 1px;
    border-radius: 5px;
}

.signup-inputs-p {
    margin-bottom: 0px
}

.signup-errors-p {
    font-size: 0.75rem;
    color: red
}

.signup-errors-p-margin {
    margin: 0px;
}

#signup-dob-p {
    width: 83%;
    height: 20px;
    margin: auto;
    padding: 2px 2px 6px 2px;
    border: grey solid 1px;
    border-radius: 5px;
}

#signup-dob-label {
    color: grey;
    padding: 3px 0px 0px 20px;
    font-size: 1rem;
    width: 85%;
    display: block;
    text-align: left;
    margin: auto;
    margin-top: 10px;
}

#signup-dob-input {
    width: 100%;
    display: inline-block;
    border: none;
    font-size: 1rem;
    color: grey;
}

#type-div {
    width: 80%;
    height: 20px;
    margin: auto;
    margin-top: 15px;
    padding: 3px 10px 7px 10px;
    border: grey solid 1px;
    border-radius: 5px;
    display: flex;
}

#farmer-type-div {
    display: inline;
    flex: 1;
    text-align: left;
    font-size: 1rem;
    color: grey;
    margin-bottom: 8px;
}

#prospect-type-div {
    display: inline;
    flex: 1;
    text-align: right;
    font-size: 1rem;
    color: grey;
    margin-bottom: 8px;
}

.user-type-label {
    padding-right: 10px;
}

.margin-radio-input {
    margin-top: 6px;
}

#signup-button {
    margin-top: 5px;
}

.signup-button {
    width: 65%;
    font-size: 1rem;
    padding: 6px 10px;
    border-radius: 5px;
    border: grey solid 1px;
    background-color: #3a5f0b;
    color: #FFF;
}

.signup-signin-button {
    width: 65%;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 5px;
    border: grey solid 1px;
    background-color: #dde6d5;
}

#signup-service-terms-p {
    padding-top: 20px;
    font-size: 0.65rem;
}

#service-terms-link {
    text-decoration: none;
    color: #3a5f0b;
}

@media (max-width: 600px) {
    .SignUp-main-div {
        width: 90%;
        padding-bottom: 20px;
        box-shadow: none;
    }

    .signup-button, .signup-signin-button,  .signup-inputs,
    #signup-dob-label, #farmer-type-div, #prospect-type-div,
    #signup-dob-input {
        font-size: 0.8rem;
    }

    .signup-inputs, #type-div, #signup-dob-label, #signup-dob-p {
        width: 90%;
    }

    .signup-inputs {
        padding: 3px 5px;
    }

    .signup-inputs-p {
        margin-top: 10px
    }

    .signup-errors-p {
        font-size: 0.6rem;
    }

    #signup-form {
        padding-bottom: 5px;
        margin-bottom: 0px;
    }

    .signup-button {
        margin-top: 0;
    }

    #signup-dob-label {
        padding-left: 0px;
        margin-top: 2px;
    }

    #signup-dob-p {
        height: 15px;
        width: 91%;
        padding: 0px 2px 7px 2px;
    }

    #type-div {
        margin-top: 10px;
        padding: 0px 5px 5px 5px;
    }

    .user-type-label {
        padding-right: 5px;
    }

    #signup-service-terms-p {
        margin-top: 0px;
        margin-bottom: 3px;
    }
}