.SignUp_main_div {
    width: 500px;
    margin: auto;
    border: solid 1px grey; 
    box-shadow: 10px 10px grey; 
    border-radius: 10px; 
    padding-bottom: 25px;
    background-color: #FFF;
}

#signup_form {
    padding: 10px 0px;
    margin-bottom: 5px;
}

#switch_btn_div {
    padding: 0 10px;
}

.signup_inputs {
    width: 80%;
    padding: 5px 10px;
    font-size: 1rem;
    border: grey solid 1px;
    border-radius: 5px;
}

.inputs_p {
    margin-bottom: 0px
}

.errors_p {
    font-size: 0.75rem;
    color: red
}

.errors_p_margin {
    margin: 0px;
}

#dob_p {
    width: 83%;
    height: 20px;
    margin: auto;
    padding: 2px 2px 6px 2px;
    border: grey solid 1px;
    border-radius: 5px;
}

#dob_label {
    color: grey;
    padding: 3px 0px 0px 20px;
    font-size: 1rem;
    width: 85%;
    display: block;
    text-align: left;
    margin: auto;
    margin-top: 10px;
}

#signup_dob_input {
    width: 100%;
    display: inline-block;
    border: none;
    font-size: 1rem;
    color: grey;
}

#type_div {
    width: 80%;
    height: 20px;
    margin: auto;
    margin-top: 15px;
    padding: 3px 10px 7px 10px;
    border: grey solid 1px;
    border-radius: 5px;
    display: flex;
}

#farmer_type_div {
    display: inline;
    flex: 1;
    text-align: left;
    font-size: 1rem;
    color: grey;
    margin-bottom: 8px;
}

#prospect_type_div {
    display: inline;
    flex: 1;
    text-align: right;
    font-size: 1rem;
    color: grey;
    margin-bottom: 8px;
}

.type_lbl {
    padding-right: 10px;
}

.margin_radio_input {
    margin-top: 6px;
}

#signup_button {
    margin-top: 5px;
}

.SignUp_signup_button {
    width: 65%;
    font-size: 1rem;
    padding: 6px 10px;
    border-radius: 5px;
    border: grey solid 1px;
    background-color: #3a5f0b;
    color: #FFF;
}

.SignUp_signin_button {
    width: 65%;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 5px;
    border: grey solid 1px;
    background-color: #dde6d5;
}

#service_terms_p {
    padding-top: 20px;
    font-size: 0.65rem;
}

#service_terms_link {
    text-decoration: none;
    color: #3a5f0b;
}

@media (max-width: 600px) {
    .SignUp_main_div {
        width: 90%;
        padding-bottom: 20px;
        box-shadow: none;
    }

    .SignUp_signup_button, .SignUp_signin_button,  .signup_inputs,
    #dob_label, #farmer_type_div, #prospect_type_div,
    #signup_dob_input {
        font-size: 0.8rem;
    }

    .signup_inputs, #type_div, #dob_label, #dob_p {
        width: 90%;
    }

    .signup_inputs {
        padding: 3px 5px;
    }

    .inputs_p {
        margin-top: 10px
    }

    .errors_p {
        font-size: 0.6rem;
    }

    #signup_form {
        padding-bottom: 5px;
        margin-bottom: 0px;
    }

    .SignUp_signup_button {
        margin-top: 0;
    }

    #dob_label {
        padding-left: 0px;
        margin-top: 2px;
    }

    #dob_p {
        height: 15px;
        width: 91%;
        padding: 0px 2px 7px 2px;
    }

    #type_div {
        margin-top: 10px;
        padding: 0px 5px 5px 5px;
    }

    .type_lbl {
        padding-right: 5px;
    }

    #service_terms_p {
        margin-top: 0px;
        margin-bottom: 3px;
    }
}