.main_div {
    width: 30%;
    margin: auto;
    border: solid 1px grey; 
    box-shadow: 10px 10px grey; 
    border-radius: 10px; 
    padding-bottom: 25px;
    background-color: #FFF;
}

#signup_form {
    padding: 10px 0px 10px 0px;
    margin-bottom: 5px;
}

.inputs_p {
    margin-bottom: 0px
}

.errors_p {
    font-size: 12px;
    color: red
}

.errors_p_margin {
    margin: 0px;
}

#dob_p {
    width: 84%;
    height: 20px;
    margin: auto;
    margin-top: 15px;
    padding: 2px 10px 5px 10px;
    border: grey solid 1px;
    border-radius: 5px;
}

#dob_span {
    color: grey;
    padding-top: 3px;
    font-size: 15px;
    float: left;
}

#dob_input {
    width: 40%;
    float: right;
    border: none;
}

#type_div {
    width: 84%;
    height: 20px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 3px 10px 7px 10px;
    border: grey solid 1px;
    border-radius: 5px;
}

#farmer_type_div {
    display: inline;
    float: left;
    color: grey;
    margin-bottom: 8px;
}

#prospect_type_div {
    display: inline;
    float: right;
    color: grey;
}

.type_lbl {
    padding-right: 10px;
}

#type_error_p {
    clear: both;
}

#signup_button {
    margin-top: 5px;
}

.SignUp_signup_button {
    width: 67.5%;
    font-size: 15px;
    padding: 6px 10px;
    border-radius: 5px;
    border: grey solid 1px;
    background-color: #3a5f0b;
    color: #FFF;
}

.SignUp_signin_button {
    width: 65%;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    border: grey solid 1px;
    background-color: #dde6d5;
}

#service_terms_p {
    padding-top: 10px;
    font-size: 10px;
}

#service_terms_link {
    text-decoration: none;
    color: #3a5f0b;
}

.margin_radio_input {
    margin-top: 5px;
}