#mobile-resources-board {
    width: 70%;
    margin: auto;
    height: 70vh;
    padding: 15px;
    border-radius: 15px 0 0 15px;
    background-color: #fff;
    display: block;
    position: absolute;
    top: 12%;
    right: 0;
    z-index: 10;
    transition: transform 0.3s ease-out;
}

.OpenMobileResourcesBoard {
    transform: translateX(0);
}

.CloseMobileResourcesBoard {
    transform: translateX(100%);
}

@media (min-width: 700px) {
    #mobile-resources-board {
        display: none;
    }
}