.App {
  text-align: center;
}

#authenticated-div {
  width: 90%;
  margin: auto;
  display: flex;
}

.flex-side-cols {
  flex: 1.25;
}

@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");