.App {
  text-align: center;
}

#authenticated-div {
  width: 90%;
  margin: auto;
  display: flex;
}

.side-columns {
  flex-basis:  260px;
}

#routes-div {
  flex: 1;
  margin: 0 2%;
}


@media (max-width: 1450px) {
  .side-columns {
    flex-basis:  230px;
  }
}

@media (max-width: 1300px) {
  .side-columns {
    flex-basis:  200px;
  }
}

@media (max-width: 1200px) {
  #routes-div {
    margin: 0 1%;
  }
}

@media (max-width: 900px) {
  .side-columns {
    flex-basis:  165px;
  }
}

@media (min-width: 700px) {
  #mobile-resources-board {
    display: none;
  }
}

@media (max-width: 700px) {
  .side-columns {
    display: none;
  }

  #routes-div {
    margin: 0 0;
  }

  #authenticated-div {
    flex-direction: column;
  }

  #mobile-resources-board {
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border: 1px solid #000;
    background-color: #fff;
    box-shadow: 10px 10px #999;
    display: flex;
    justify-content: space-evenly;
  }
}

@media (max-width: 500px) {
  #mobile-resources-board {
    flex-direction: column;
  }

  #arrow-down-scroll-span {
    background-color: #3a5f0b;
    color: #fff;
    padding: 2px 6px;
    border-radius: 50%;
    position: fixed;
    right: 5px;
    bottom: 5px;
    font-size: 0.85rem;
    font-weight: bold;
  }

  #arrow-up-scroll-span {
    background-color: #3a5f0b;
    color: #fff;
    padding: 2px 5px 4px 5px;
    border-radius: 50%;
    position: fixed;
    right: 5px;
    bottom: 5px;
    font-size: 0.85rem;
    display: none;
  }

}

@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");