.App {
  text-align: center;
}

#authenticated-div {
  width: 90%;
  margin: auto;
  display: flex;
}

.side-columns {
  flex-basis:  225px;
}

@media (max-width: 1300px) {
  .side-columns {
    display: none;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");