body {
  margin: 0;
  background-color: #dde6d5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sign_up_in_input {
  width: 84%;
  padding: 5px 10px;
  font-size: 17px;
  border: grey solid 1px;
  border-radius: 5px;
}

.global_btn {
  width: 17%;
  padding: 6px 0px;
  background-color: #3a5f0b;
  color: #FFF;
  font-size: 15px;
  border-radius: 5px;
}

.connect_btn {
  width: 100px;
  color: #FFF;
}

.unconnect_btn {
  width: 100px;
  font-size: 15px;
  padding: 6px 0px;
  border-radius: 5px;
}

.eu_el_btns {
  width: 100px;
}

.update_btn {
  padding: 6px 0px;
  background-color: #3a5f0b;
  color: #FFF;
  font-size: 15px;
  border-radius: 5px;
}

.update_btn_disabled {
  padding: 6px 0px;
  font-size: 15px;
  border-radius: 5px;
}

.no_select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

a {
  text-decoration: none;
  color: #663300;
}


.commodity_select {
  width: 53%;
  font-size: 15px;
  padding: 3px 10px;
  float: left;
  margin-left: 18px;
  border-radius: 5px;
  border: grey solid 1px;
}

.availability_input {
  width: 50%;
  margin-top: 10px;
  font-size: 15px;
  padding: 3px 0px 3px 10px;
  float: left;
  margin-left: 18px;
  border-radius: 5px;
  border: grey solid 1px;
}

.quantity_input {
  width: 35%;
  margin-top: 10px;
  font-size: 15px;
  padding: 4px 10px;
  float: left;
  margin-left: 18px;
  border-radius: 5px;
  border: grey solid 1px;
}

.measure_select {
  margin-top: 10px;
  font-size: 15px;
  padding: 3px 10px;
  float: left;
  border-radius: 5px;
  border: grey solid 1px;
}

.available_select {
  width: 20%;
  margin-top: 10px;
  font-size: 15px;
  padding: 3px 10px;
  float: left;
  margin-left: 18px;
  border-radius: 5px;
  border: grey solid 1px;
}

.info_textarea {
  margin-top: 10px;
  font-size: 15px;
  padding: 10px;
  float: left;
  margin-left: 18px;
  border-radius: 5px;
}