body {
  margin: 0;
  background-color: #dde6d5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sign_up_in_input {
  width: 90%;
  padding: 5px 10px;
  font-size: 15px;
  border: grey solid 1px;
  border-radius: 5px;
}

.global_btn {
  width: 17%;
  padding: 6px 0px;
  background-color: #3a5f0b;
  color: #FFF;
  font-size: 15px;
}