body {
  margin: 0;
  background-color: #dde6d5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img-div {
  margin: auto;
  height: 180px;
  width: 150px;
}

.global-btn {
  width: 17%;
  padding: 6px 0px;
  background-color: #3a5f0b;
  color: #FFF;
  font-size: inherit;
  border-radius: 5px;
}

.connect-btn-div {
  padding-top: 15px;
}

.join-date-p {
  margin-bottom: 30px;
}

.update-btn {
  padding: 6px 0px;
  background-color: #3a5f0b;
  color: #FFF;
  font-size: 15px;
  border-radius: 5px;
}

.update-btn-disabled {
  padding: 6px 0px;
  font-size: 15px;
  border-radius: 5px;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 90px;
  background-color: #FFF;
  border: solid 1px #3a5f0b;
  padding: 1px 2px;
  font-size: 13px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  top: -1px;
  right: 60%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.no-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

a {
  text-decoration: none;
  color: #663300;
}

@media (max-width: 1350px) {
  body {
    font-size: 0.85rem;
  }
}

@media (max-width: 1225px) {
  body {
    font-size: 0.7rem;
  }
}

@media (max-width: 900px) {
  body {
    font-size: 0.6rem;
  }
}

@media (max-width: 800px) {
  body {
    font-size: 0.5rem;
  }
}

@media (max-width: 500px) {
  .img-div {
      margin: auto;
      height: 100px;
      width: 100px;
  }
}