.EditUser_main_div {
    display: inline; 
    float: left;
    width: 65%;
}

#signup_form {
    padding: 10px; 
    margin-bottom: 5px
}

.p_inputs {
    margin-bottom: 0px
}

.p_errors {
    font-size: 12px;
    color: red;
    margin: 0px;
}
