.EditUser-main-div {
    width: 500px;
    margin: auto;
}

.edit-user-profile-card {
    text-align: center;
    border: #663300 solid 1px;
    padding: 15px 0px 25px 0px;
    width: 100%;
    background-color: #FFF;
    box-shadow: 6px 8px #663300
}

#edit-user-form {
    padding: 10px; 
    margin-bottom: 5px
}

.edit-user-label, .edit-user-input, #photo-input, #edit-user-update-btn {
    font-size: inherit;
}

.edit-user-input {
    width: 80%;
    margin: auto;
    padding: 5px 10px;
    display: block;
    border-radius: 5px;
    border: grey solid 1px;
}

.edit-user-label {
    display: inline-block;
    border: 1px solid #000;
    padding: 1px 5px;
    background-color: #3a5f0b;
    color: #fff;
    border-radius: 6px;
    margin-bottom: 1px;
}

.edit-user-label-margin, #edit-user-photo-label-margin {
    margin-top: 10px;
}

#upload-photo-label {
    margin-right: 10px;
}

#photo-p {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

#edit-user-btn-div {
    margin-top: 30px;
}

#edit-user-update-btn, #edit-user-cancel-btn {
    width: 100px;
}

.edit-user-errors-span {
    font-size: 12px;
    color: red;
    display: block;
}

@media (max-width: 1300px) {
    .EditUser-main-div {
        width: 45%;
        min-width: 250px;
    }
}

@media (max-width: 1225px) {
    .edit-user-errors-span {
      font-size: 10px
    }
}

@media (max-width: 1000px) {
    .edit-user-input {
        padding: 2px 5px;
    }
}

@media (max-width: 900px) {
    .edit-user-errors-span {
        font-size: 8px
    }
}

@media (max-width: 500px) {
    .edit-user-profile-card {
        box-shadow: none;
        padding: 5px 0 10px 0;
    }

    #dit-user-h3 {
        margin: 5px 0;
    }

    #edit-user-form {
        padding: 0 10px;
    }

    #edit-user-update-btn, #edit-user-cancel-btn {
        padding: 3px 0;
    }

    #user-edit-btn-div {
        margin-top: 15px;
    }

    .edit-user-label-margin {
        margin-top: 4px;
    }
}