.EditUser_main_div {
    display: inline; 
    float: left;
    width: 60%;
}

#signup_form {
    padding: 10px; 
    margin-bottom: 5px
}

.p_inputs {
    margin-bottom: 0px
}

.user_inputs {
    width: 75%;
    font-size: 17px;
    padding: 5px 10px;
    float: left;
    margin-left: 35px;
    border-radius: 5px;
    border: grey solid 1px;
}

.input_margin {
    margin-top: 10px;
}

.caption_td {
    text-align: right;
    font-size: 17px;
    vertical-align: top;
}

.td_padding {
    padding-top: 10px;
}

#photo_input {
    margin-top: 10px;
    font-size: 17px;
    float: left;
    margin-left: 35px;
}

#user_edit_btn_div {
    margin-top: 40px;
}

.p_errors {
    font-size: 12px;
    color: red;
    margin: 0px;
    display: inline-block;
    clear: both;
}

.name_error_padding {
    padding-left: 35%;
}

#dob_error_padding {
    padding-left: 30%;
}

#email_error_padding {
    padding-left: 38%;
}

.edit_user_profile_card {
    text-align: center;
    border: #663300 solid 1px;
    padding: 15px 0px 25px 0px;
    width: 70%;
    background-color: #FFF;
    margin: auto;
    box-shadow: 6px 8px #663300
}

.center {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}