.SuggestedProspects_main_div {
    display: inline;
    width: 20%;
}

.SuggestedProspects_main_div h4 {
    color: #3a5f0b;
    margin-bottom: 0px;
}

#sp_ul {
    list-style: none;
    padding-left: 0px;
}

#sp_li_span {
    position: relative;
    bottom: -6px;
}