.SuggestedProspects-main-div {
    display: inline;
    width: 20%;
}

.SuggestedProspects-main-div h4 {
    color: #3a5f0b;
    margin-bottom: 0px;
}

#suggested-prospects-ul {
    list-style: none;
    padding-left: 0px;
}

#suggested-prospects-li-span {
    position: relative;
    bottom: -6px;
}