.ConnectRequests-main-div {
    width: 400px;
    margin: auto;
    height: 60vh;
}

.connect-requests-card {
    text-align: center;
    border: #3a5f0b solid 1px;
    padding: 20px 0px;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    box-shadow: 6px 8px #3a5f0b
}

#connect-requests-ul {
    padding: 0px 20px;
}

.my-connect-h3 {
    color: #3a5f0b;
}

.connects-h3 {
    font-family: Satisfy;
    font-size: 1.6rem;
    margin-bottom: 5px;
}

#connect-list {
    list-style: none;
    padding: 6px 0;
}

.user-list-type-span {
    padding: 1px 4px;
    font-size: inherit;
    font-weight: bold;
    margin-left: 10px;
    border: solid 1px;
    border-radius: 50%;
}

.farmer-user-list-type-span {
    background-color:  #3a5f0b;
    color: #FFF;
    padding: 2.5px 6px;
}

#connects-div {
    height: 90%;
    overflow-y: auto;
}

@media (max-width: 1225px) {
    .ConnectRequests-main-div {
        width: 300px;
    }

    .connects-h3 {
        font-size: 1.4rem;
    }
}

@media (max-width: 900px) {
    .ConnectRequests-main-div {
        width: 250px;
    }

    .connects-h3 {
        font-size: 1.2rem;
    }
}

@media (max-width: 500px) {
    .connect-requests-card {
        box-shadow: none;
    }

    .connects-h3 {
        font-size: 1rem;
    }
}