.ConnectRequests_main_div {
    display: inline;
    float: left;
    width: 60%;
}

.connect_requests_card {
    text-align: center;
    border: #3a5f0b solid 1px;
    padding: 25px 0px 25px 0px;
    width: 50%;
    height: 60vh;
    background-color: #FFF;
    margin: auto;
    box-shadow: 6px 8px #3a5f0b
}

#connect_requests_ul {
    padding: 0px 20px 0px 20px;
}

.my_connect_h3 {
    color: #3a5f0b;
}

.connects_h3 {
    font-family: Satisfy;
    font-size: 24px;
}

#connect_li {
    list-style: none;
    padding-bottom: 3px;
}

.user_list_type_span {
    padding: 1px 4px;
    font-size: 10px;
    font-weight: bold;
    margin-left: 10px;
    border: solid 1px;
    border-radius: 50%;
}

.user_list_type_span_f {
    background-color:  #3a5f0b;
    color: #FFF;
    padding: 2.5px 6px;
}