.SearchUsers_main_div {
    display: inline;
    float: left;
    width: 60%;
}

.search_users_card {
    text-align: center;
    border: #3a5f0b solid 1px;
    padding: 25px 0px 10px 0px;
    width: 50%;
    min-height: 60vh;
    background-color: #FFF;
    margin: auto;
    box-shadow: 6px 8px #3a5f0b
}

#search_input {
    width: 70%;
    height: 16px;
    font-size: 17px;
    padding: 5px 10px;
    border-radius: 5px 0px 0px 5px;
    border: grey solid 1px;
}

#search_btn {
    font-size: 17px;
    padding: 2px 6px;
    border-radius: 0px 5px 5px 0px;
    background-color: #3a5f0b;
    color: #FFF;
}

#search_results_ul {
    padding: 0px 20px 0px 20px;
}

#search_result_li {
    list-style: none;
}