.SignIn_main_div {
    margin: auto;
    width: 500px;
    border: solid 1px grey;
    box-shadow: 10px 10px grey;
    border-radius: 10px;
    padding: 15px 0px 30px 0px;
    background-color: #FFF;
}

#signin_form {
    padding: 10px 0px;
    margin-bottom: 5px;
}

#errors_p {
    font-size: .7rem;
    margin-top: 0px;
    color: red;
}

.signin_inputs {
    width: 80%;
    padding: 5px 10px;
    font-size: 1rem;
    border: grey solid 1px;
    border-radius: 5px;
}

#signin_button {
    margin-top: 5px;
}

.signin_button {
    width: 65%;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 5px;
    border: grey solid 1px;
    background-color: #dde6d5;
}

.signup_button {
    width: 65%;
    font-size: 1rem;
    padding: 6px 10px;
    border-radius: 5px;
    border: grey solid 1px;
    background-color: #3a5f0b;
    color: #FFF;
}

@media (max-width: 600px) {
    .SignIn_main_div {
        width: 90%;
        margin-top: 50px;
        box-shadow: none;
    }

    .signin_inputs {
        padding: 3px 5px;
    }

    .signin_button, .signup_button, .signin_inputs {
        font-size: 0.8rem;
    }
}