.SignIn-main-div {
    margin: auto;
    width: 500px;
    border: solid 1px grey;
    box-shadow: 10px 10px grey;
    border-radius: 10px;
    padding: 15px 0px 30px 0px;
    background-color: #FFF;
}

#signin-form {
    padding: 10px 0px;
    margin-bottom: 5px;
}

#signin-error-p {
    font-size: 0.7rem;
    margin-top: 0px;
    color: red;
}

.signin-inputs {
    width: 80%;
    padding: 5px 10px;
    font-size: inherit;
    border: grey solid 1px;
    border-radius: 5px;
}

#signin-button {
    margin-top: 5px;
    font-size: inherit;
}

.signin-button {
    width: 65%;
    font-size: inherit;
    padding: 5px 10px;
    border-radius: 5px;
    border: grey solid 1px;
    background-color: #dde6d5;
}

#signin-signup-button {
    width: 65%;
    font-size: inherit;
    padding: 6px 10px;
    border-radius: 5px;
    border: grey solid 1px;
    background-color: #3a5f0b;
    color: #FFF;
}

@media (max-width: 1225px) {
    #signin-error-p {
        font-size: 0.6rem;
    }
}

@media (max-width: 900px) {
    #signin-error-p {
        font-size: 0.4rem;
    }
}

@media (max-width: 600px) {
    .SignIn-main-div {
        width: 90%;
        margin-top: 50px;
        box-shadow: none;
    }

    .signin-inputs {
        padding: 3px 5px;
    }
}