.main_div {
    margin: auto;
    width: 40%;
    border: solid 1px grey;
    box-shadow: 10px 10px grey;
    border-radius: 10px;
    padding: 15px 0px 15px 0px;
    background-color: #FFF;
}

#signin_form {
    padding: 10px; 
    margin-bottom: 5px;
}

#p_errors {
    font-size: 12px;
    margin-top: 0px;
    color: red;
}

#button {
    margin-top: 15px;
}

.sign_in_input {
    width: 300px;
    padding: 5px 10px;
    font-size: 15px;
    border: grey solid 1px;
    border-radius: 5px;
}