.Main_Signout_div {
   position: absolute;
   top: 30%;
   left: 50%;
   transform: translate(-50%, -50%);
}

#signout_msg {
    font-family: Satisfy;
    font-size: 1.5rem;
}

#home_link_div a {
    font-size: inherit;
}

#home_link_div {
    margin-top: 20px;
    font-size: 1rem;
}

@media (max-width: 600px) {
    .Main_Signout_div {
        margin-top: 15px;
    }
    
    #signout_msg {
        font-family: Satisfy;
        font-size: 1rem;
    }
    
    #home_link_div {
        margin-top: 10px;
        font-size: 0.8rem;
    }
}