.Current-user-profile-card {
    width: 500px;
    margin: auto;
    padding: 15px 0px 25px 0px;
    background-color: #FFF;
    border: 1px solid #663300;
    box-shadow: 6px 10px #663300
}

.Farmer-profile-styles {
    width: 100%;
}

.Prospect-profile-styles {
    width: 100%;
    background-color: #FFF;
}

#img-div {
    margin: auto;
    height: 180px;
    width: 150px;
}

.current-user-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#user-joined-p {
    margin-top: 35px;
}

#cu-edit-btn {
    margin-top: 30px;
    width: 100px;
}

@media (max-width: 1300px) {
    .Current-user-profile-card {
        width: 45%;
        min-width: 250px;
    }
}

@media (max-width: 500px) {
    #img-div {
        margin: auto;
        height: 100px;
        width: 100px;
    }

    #user-joined-p {
        margin-top: 15px;
    }

    #cu-edit-btn {
        font-size: 0.7rem;
        margin-top: 10px;
    }
}