.AppFooter_main_div {
    clear: both;
    position: fixed;
    width: 90%;
    margin: 0% 5% 0% 5%;
    height: 75px;
    bottom: 20px;
    background-color: #FFF;
    padding-top: 10px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 5px 10px 18px #663300;
}

#app_name_span {
    color: #3a5f0b;
    font-family: 'Piedra';
}