.EditListing_main_div {
    display: inline; 
    float: left;
    width: 65%;
}

.p_inputs {
    margin-bottom: 0px
}

.p_errors {
    font-size: 12px;
    color: red;
    margin: 0px;
}

#label_align {
    vertical-align: top;
}

#listing_close_warning {
    color: red;
    font-size: 12px;
}