.CreateListing_main_div {
    display: inline; 
    float: left;
    width: 65%;
}

.p_inputs {
    margin-bottom: 0px
}

.p_errors {
    font-size: 12px;
    color: red;
    margin: 0px;
}

.errors_padding_left {
    padding-left: 16%;
}

#label_align {
    vertical-align: top;
}

.card {
    text-align: center;
    border: #663300 solid 1px;
    padding: 15px 0px 25px 0px;
    width: 70%;
    background-color: #FFF;
    margin: auto;
    box-shadow: 6px 8px #663300
}

.center {
width: 85%;
margin-left: auto;
margin-right: auto;
}

#measure_select_cl {
    width: 40%;
    margin-left: 18px;
}