.CreateListing-main-div {
    width: 600px;
    margin: auto;
}

.create-listing-card {
    text-align: center;
    border: #663300 solid 1px;
    padding: 15px 0px 25px 0px;
    width: 100%;
    background-color: #FFF;
    box-shadow: 6px 8px #663300
}

.create-listing-label {
    display: inline-block;
    border: 1px solid #000;
    padding: 1px 5px;
    background-color: #3a5f0b;
    color: #fff;
    border-radius: 6px;
    margin-bottom: 1px;
}

.create-listing-label-margin {
    margin-top: 10px;
}

.create-listing-commodity-select, .create-listing-availability-input,
.create-listing-quantity-input, .create-listing-measure-select,
.create-listing-available-select, .create-listing-textarea {
    font-size: inherit;
}

.create-listing-commodity-select {
    width: 80%;
    margin: auto;
    display: block;
    padding: 3px 10px;
    border-radius: 5px;
    border: grey solid 1px;
}

.create-listing-availability-input {
    width: 78%;
    margin: auto;
    display: block;
    padding: 3px 0px 3px 10px;
    border-radius: 5px;
    border: grey solid 1px;
}

.create-listing-quantity-input {
    width: 90px;
    padding: 3px 10px;
    border-radius: 5px;
    border: grey solid 1px;
}

.create-listing-measure-select {
    width: 170px;
    padding: 2px 10px;
    border-radius: 5px;
    border: grey solid 1px;
}

.create-listing-available-select {
    width: 75px;
    display: block;
    margin: auto;
    padding: 3px 10px;
    border-radius: 5px;
    border: grey solid 1px;
}

.create-listing-textarea {
    width: 78%;
    text-align: justify;
    padding: 10px;
    border-radius: 5px;
}

.create-listing-char-label {
    display: block;
}

.p_inputs {
    margin-bottom: 0px
}

.create-listing-errors-span {
    font-size: 12px;
    color: red;
    display: block;
}

#create-listing-btn-p {
    margin-top: 25px;
}

#create-listing-btn {
    width: 100px;
}

@media (max-width: 1350px) {
    .CreateListing-main-div {
        width: 400px;
    }

    .create-listing-available-select {
        width: 60px;
        padding: 3px 5px;
    }
}

@media (max-width: 1225px) {
    .CreateListing-main-div {
        width: 300px;
    }

    .create-listing-quantity-input {
        width: 70px;
    }

    .create-listing-measure-select {
        width: 150px;
    }

    .create-listing-available-select {
        width: 50px;
        padding: 3px 5px;
    }
}

@media (max-width: 900px) {
    .CreateListing-main-div {
        width: 250px;
    }

    .create-listing-quantity-input {
        width: 50px;
    }

    .create-listing-measure-select {
        width: 125px;
    }
}

@media (max-width: 500px) {
    .create-listing-card {
        box-shadow: none;
    }
}