.Listing_main_div {
    display: inline;
    float: left;
    width: 65%;
}

#heart_lbl {
    margin-right: 2px;
    font-size: 30px;
}

#closed_listing {
    color: red;
}

#listing_card {
    text-align: center;
    border: #3a5f0b solid 1px;
    width: 70%;
    margin: auto;
    box-shadow: 6px 8px #663300;
    background-image: url('../../assets/wetLeaves.png');
    background-color: #FFF;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

#listing_details {
    background:  rgba(255, 255, 255, 0.5);
    padding: 15px 0px 25px 0px;
}

#info_p {
    margin: 10px 115px 0px 115px;
}