.Listing-main-div {
    width: 600px;
    margin: auto;
}

.listing-card {
    text-align: center;
    border: #3a5f0b solid 1px;
    width: 100%;
    box-shadow: 6px 8px #663300;
    background-image: url('../../assets/wetLeaves.png');
    background-color: #FFF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

#listing-id-span {
    padding: 2px 8px;
    border-radius: 5px;
    border: solid 1px #000;
}

#heart-lbl {
    margin-right: 2px;
    font-size: 30px;
}

#closed-listing {
    color: red;
}

#listing-last-edit {
    color: #000;
}

#listing-details {
    background:  rgba(255, 255, 255, 0.5);
    padding: 15px 0px 25px 0px;
}

#listing-info-p {
    width: 90%;
    margin: 5px auto;
}

.listing-label-color {
    color: #663300;
}

.listing-label-padding {
    padding-right: 5px;
}

#lisitng-name-link {
    color: #3a5f0b;
}

#listing-high-interest-span {
    display: inline-block;
    margin: auto;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #FF0000;
    color: #FFF;
    margin-top: 15px;
}

#listing-edit-btn, #listing-mylisting-btn, #listing-listings-btn {
    width: 100px;
}

#listing-btn-div {
    margin-top: 10px;
}

@media (max-width: 1350px) {
    .Listing-main-div {
        width: 400px;
    }
}

@media (max-width: 1225px) {
    .Listing-main-div {
        width: 300px;
    }

    #heart-lbl {
        font-size: 25px;
    }
}

@media (max-width: 900px) {
    .Listing-main-div {
        width: 250px;
    }

    #heart-lbl {
        font-size: 15px;
    }
}

@media (max-width: 700px) {
    #listing-high-interest-span {
        margin: 0;
    }

    #listing-details {
        padding: 15px 0;
    }

    #listing-details h3, #listing-last-edit {
        margin: 8px 0;
    }

    #listing-btn-div {
        margin-top: 5px;
    }

    #listing-edit-btn, #listing-mylisting-btn, #listing-listings-btn {
        width: 80px;
        padding: 3px 0;
    }
}

@media (max-width: 500px) {
    .listing-card {
        box-shadow: none;
    }
}