.Listing_main_div {
    display: inline;
    float: left;
    width: 65%;
}

#heart_lbl {
    margin-right: 2px;
    font-size: 30px;
}

#closed_listing {
    color: red;
}

#listing_last_edit {
    color: #000;
}

#listing_card {
    text-align: center;
    border: #3a5f0b solid 1px;
    width: 70%;
    margin: auto;
    box-shadow: 6px 8px #663300;
    background-image: url('../../assets/wetLeaves.png');
    background-color: #FFF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#listing_details {
    background:  rgba(255, 255, 255, 0.5);
    padding: 15px 0px 25px 0px;
}

#info_p {
    margin: 10px 135px 0px 135px;
}

.color_lbl {
    color: #663300;
}

.padding_lbl {
    padding-right: 5px;
}

#name_link {
    color: #3a5f0b
}

#interest_div {
    width: 150px;
    margin: auto;
    padding: 5px 0px;
    border-radius: 5px;
    background-color: #FF0000;
    color: #FFF;
    margin-top: 15px;
}

.listing_btn {
    width: 100px;
}