.Loader-main-div {
    display: inline;
    width: 60%;
    background-color: inherit;
}

#loader-img {
    margin-top: 30px;
    width: 75px;
    height: 75px;
}

@media (max-width: 500px) {
    #loader-img {
        width: 45px;
        height: 45px;
    }
}