.NoMatch-auth-main-div {
    width: 60%;
    margin: auto;
}

.NoMatch-no-auth-main-div {
    width: 90%;
    margin: auto;
}

#span-color {
    color: red;
}

#emoji-img {
    margin-top: 15px;
    height: 20px;
    width: 20px;
}