.NoMatch-auth-main-div {
    width: 60%;
    margin: auto;
}

.NoMatch-no-auth-main-div {
    width: 90%;
    margin: auto;
}

#h1-404 {
    font-size: 5rem;
    margin-bottom: 25px;
}

#span-color {
    color: red;
}

#emoji-img {
    margin-top: 15px;
    height: 20px;
    width: 20px;
}

@media (max-width: 600px) {
    #h1-404 {
        font-size: 2.5rem;
    }
}