.Listings-main-div {
    width: 100%;
    padding-bottom: 25px;
    background-color: #FFF;
    border-radius: 15px;
    height: 65.5vh;
    position: relative;
}

.listings-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

#listings-header {
    position: relative;
    top: 0;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 8px solid #dde6d5;
}

#listings-main {
    position: absolute;
    top: 140;
    width: 100%;
    overflow-x: auto;
    border-top: 2px solid #3a5f0b;
    max-height: 52vh;
}

.listings-th-td {
    border-bottom: #DCDCDC solid 1px;
}

#listings-td:hover {
    background-color: #dde6d5;
}

#listings-td-g:hover {
    background-color: #EEE8AA;
}

#category {
    margin-top: 0px;
    padding-top: 25px;
}

#category, #td-available {
    color: #3a5f0b;
}

#td-available {
    font-size: 18px;
}

#link-div {
    margin-bottom: 20px;
}

#view-btn-color {
    background-color: #dde6d5;
}

#view-user-btn-color {
    background-color: #3a5f0b;
    color: #FFF;
}

.listings-btn {
    width: 50px;
    border-radius: 5px;
}

#listing-delete-btn {
    background-color: #FFF;
    padding: 1px 5px;
    border-radius: 50%;
}

#available-span {
    background-color: #E8E8E8;
    color: #663300;
    padding: 3% 10% 0% 10%;
    border-radius: 5px;
}

#listings-search-input {
    width: 80%;
    margin: auto;
    border: grey solid 1px;
    border-radius: 5px;
    display: inline-block;
    padding: 3px 6px;
    font-size: inherit;
    text-align: center;
}

.search-styles {
    background-color: #E8E8E8;
    color: #3a5f0b;
    padding: 3% 10% 0% 10%;
    border-radius: 5px;
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 90px;
    background-color: #FFF;
    border: solid 1px #3a5f0b;
    text-align: center;
    font-size: 15px;
    padding: 0px 2px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#connect-span-global {
    position: relative;
    bottom: 4px;
    padding-left: 5px;
    color: #3a5f0b;
}

#connect-span1 {
    font-size: 2px;
    padding: 1.5px 3px;
    border: solid 2px;
    border-radius: 50%;
    margin-right: -3px;
}

#connect-span2 {
    font-size: 2px;
    padding: 1.5px 3px;
    border: solid 2px;
    border-radius: 50%;
    margin-left: -3px;
}

@media (max-width: 1225px) {
    .listings-btn {
        font-size: 0.4rem;
        width: 40px;
    }
}

@media (max-width: 1000px) {
    .listings-view-btn {
        display: none;
    }
}

@media (max-width: 850px) {
    .listings-interests {
        display: none;
    }
}