.Listings_main_div {
    display: inline;
    float: left;
    width: 64%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    height: 100vh;
    background-color: #FFF;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 2px 0px;
    border-bottom: #DCDCDC solid 1px;
}

tr:hover {
    background-color: #dde6d5;
}

#category, #td_available {
    color: #3a5f0b;
}

#td_available {
    font-size: 18px;
}

#link_div {
    margin-bottom: 20px;
}