.Listings_main_div {
    display: inline;
    float: left;
    width: 62.6%;
    margin-left: 1.2%;
    margin-right: 1.2%;
    padding-bottom: 25px;
    background-color: #FFF;
    border-radius: 15px;
}

.table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

.listings_th_td {
    border-bottom: #DCDCDC solid 1px;
}

#listings_td:hover {
    background-color: #dde6d5;
}

#listings_td_g:hover {
    background-color: #EEE8AA;
}

#category, #td_available {
    color: #3a5f0b;
}

#td_available {
    font-size: 18px;
}

#link_div {
    margin-bottom: 20px;
}

#view_btn_color {
    background-color: #3a5f0b;
    color: #FFF;
}

.listings_btn {
    width: 50px;
    border-radius: 5px;
}

#listing_delete_btn {
    background-color: #FFF;
    padding: 1px 5px;
    border-radius: 50%;
}

#available_span {
    background-color: #E8E8E8;
    color: #663300;
    padding: 3% 10% 0% 10%;
    border-radius: 5px;
}

#search_input {
    width: 80%;
    margin: auto;
    border: grey solid 1px;
    border-radius: 5px;
    display: inline-block;
    padding: 3px 6px;
    font-size: 17px;
}

.search_styles {
    background-color: #E8E8E8;
    color: #3a5f0b;
    padding: 3% 10% 0% 10%;
    border-radius: 5px;
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 90px;
    background-color: #FFF;
    border: solid 1px #3a5f0b;
    text-align: center;
    font-size: 15px;
    padding: 0px 2px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}