.ProspectProfile_main_div {
    display: inline;
    float: left;
    width: 65%;
    background-color: #FFF;
    height: 100vh;
}

#img_div {
    margin: auto;
    height: 180px;
    width: 150px;
}

.img {
    width: 100%; 
    height: 100%;
}

.connect_btn_div {
    padding-top: 15px;
}

#connect_btn {
    background-color: #3a5f0b; 
    color: #FFF;
}