.ConnectRequests_main_div {
    display: inline;
    float: left;
    width: 65%;
}

.connect_requests_card {
    text-align: center;
    border: #3a5f0b solid 1px;
    padding: 25px 0px 25px 0px;
    width: 50%;
    height: 60vh;
    background-color: #FFF;
    margin: auto;
    box-shadow: 6px 8px #3a5f0b
}

#connect_requests_ul {
    padding: 0px 20px 0px 20px;
}

#connect_li {
    list-style: none;
    padding-bottom: 3px;
}

#user_list_type_span {
    padding: 1px 4px;
    font-size: 10px;
    margin-left: 10px;
    border: solid 1px;
    border-radius: 50%;
}