.TermsOfService_main_div {
    width: 65%;
    background-color: #FFF;
    margin: auto;
    padding: 20px 30px;
    border-radius: 15px;
}

#btn_div {
    margin-top: 10px;
}

.tos_p {
    margin-left: 15px;
    margin-right: 15px;
}