.TermsOfService-main-div {
    width: 85%;
    background-color: #FFF;
    margin: auto;
    padding: 25px;
    border-radius: 15px;
    max-height: 60vh;
    overflow-y: auto;
}

#btn-div {
    margin-top: 10px;
}

.tos-btn {
    min-width: 80px;
}

#tos-text-div {
    text-align: justify;
}

.tos-p {
    margin-left: 15px;
    margin-right: 15px;
}

@media (max-width: 600px) {
    .TermsOfService-main-div {
        padding: 10px;
    }
}