.TermsOfService_main_div {
    width: 85%;
    background-color: #FFF;
    margin: auto;
    padding: 25px;
    border-radius: 15px;
    max-height: 60vh;
    overflow-x: auto;
}

#btn_div {
    margin-top: 10px;
}

.tos_btn {
    width: 100px
}

#tos_text_div {
    text-align: justify;
}

.tos_p {
    margin-left: 15px;
    margin-right: 15px;
}

@media (max-width: 600px) {
    .TermsOfService_main_div, .tos_btn {
        font-size: 0.8rem;
    }

    .TermsOfService_main_div {
        padding: 10px;
    }

    .tos_btn {
        width: 75px;
    }
}