.SideDrawer {
    position: fixed;
    width: 220px;
    max-width: 70%;
    top: 0;
    left: 0;
    z-index: 20;
    transition: transform 0.3s ease-out;
}

.OpenSideDrawer {
    transform: translateX(0);
}

.CloseSideDrawer {
    transform: translateX(-100%);
}

@media (min-width: 700px) {
    .SideDrawer {
        display: none;
    }
}