.AppHeader-main-div {
    width: 90%;
    margin: 1rem 5%;
    padding: 10px 0;
    border-radius: 15px;
    background-color: #FFF;
}

#logo-img {
    height: 3.5rem;
    width: 3.5rem;
}

#name-div {
    color: #3a5f0b;
    font-size: 3rem;
    font-family: 'Piedra';
}

.AppHeader-main-div span {
    font-size: 1rem;
}

@media (max-width: 1000px) {
    .AppHeader-main-div {
        margin: 1rem 5%;
        padding: 5px 0;
    }

    #logo-img {
        height: 3rem;
        width: 3rem;
    }

    #name-div {
        font-size: 2.5rem;
    }

    .AppHeader-main-div span {
        font-size: 0.75rem;
    }
}

@media (max-width: 500px) {
    .AppHeader-main-div {
        margin: 0.5rem 5%;
        padding: 5px 0;
    }

    #logo-img {
        height: 1.75rem;
        width: 1.75rem;
    }

    #name-div {
        font-size: 1rem;
    }

    .AppHeader-main-div span {
        font-size: 0.4rem;
    }
}