.EditListing_main_div {
    display: inline; 
    float: left;
    width: 65%;
}

.p_inputs {
    margin-bottom: 0px
}

.p_errors {
    font-size: 12px;
    color: red;
    margin: 0px;
    display: inline-block;
    float: left;
    clear: both;
}

#availability_span {
    padding-left: 10%;
}

#label_align {
    vertical-align: top;
}

#listing_close_warning_span {
    color:  #ff0000;
    border-radius: 15px;
    border: solid 1px #ff0000;
    padding: 5px 10px;
    display: inline-block;
    font-size: 14px;
}

.card {
    text-align: center;
    border: #663300 solid 1px;
    padding: 15px 0px 25px 0px;
    width: 70%;
    background-color: #FFF;
    margin: auto;
    box-shadow: 6px 8px #663300
}

.center {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

#p_button_update {
    margin: 25px 0px 0px 0px;
}

#critical_color {
    color: #FF0000;
}

#measure_select_el {
    width: 38%;
    margin-left: 10%;
}

#id_date_p {
    margin: 0px 0px 10px 0px;
}

#id_span {
    padding-right: 30px;
}

#qty_error_p {
    margin: 0px;
    float: left;
    display: inline-block;
    padding-left: 4%;
}

#measure_error_p {
    margin: 0px;
    float: right;
    display: inline-block;
     padding-right: 18%;
}

.xter_span {
    width: 50%;
    clear: both;
    display: inline-block;
}