.EditListing-main-div {
    width: 600px;
    margin: auto;
}

.edit-listing-card {
    text-align: center;
    border: #663300 solid 1px;
    padding: 15px 0;
    width: 100%;
    background-color: #FFF;
    box-shadow: 6px 8px #663300
}

.EditListing-main-div h3 {
    margin: 5px 0 15px 0;
}

.edit-listing-label {
    display: inline-block;
    border: 1px solid #000;
    padding: 1px 5px;
    background-color: #3a5f0b;
    color: #fff;
    border-radius: 6px;
    margin-bottom: 1px;
}

.edit-listing-label-margin {
    margin-top: 7.5px;
}

#edit-listing-available-label {
    display: block;
    padding: 0 5px;
}

.edit-listing-commodity-select, .edit-listing-availability-input,
.edit-listing-quantity-input, .edit-listing-measure-select,
.edit-listing-available-select, .edit-listing-textarea, #edit-listing-update-btn {
    font-size: inherit;
}

.edit-listing-commodity-select {
    width: 80%;
    margin: auto;
    display: block;
    padding: 2px 10px;
    border-radius: 5px;
    border: grey solid 1px;
}

.edit-listing-availability-input {
    width: 78%;
    margin: auto;
    display: block;
    padding: 2px 0px 3px 10px;
    border-radius: 5px;
    border: grey solid 1px;
}

#edit-listing-qty-measure-p {
    display: inline;
    padding: 0 10px;
}

.edit-listing-quantity-input {
    width: 90px;
    padding: 2px 10px;
    border-radius: 5px;
    border: grey solid 1px;
}

.edit-listing-measure-select {
    width: 200px;
    padding: 2px 10px;
    border-radius: 5px;
    border: grey solid 1px;
}

.edit-listing-available-select {
    width: 75px;
    display: block;
    margin: auto;
    padding: 2px 10px;
    border-radius: 5px;
    border: grey solid 1px;
}

.edit-listing-textarea {
    width: 78%;
    text-align: justify;
    padding: 10px;
    border-radius: 5px;
}

#close-listing-p {
    margin: 10px 0 0 0;
}

#listing-close-warning-span {
    color: #FFF;
    background-color:  #ff0000;
    border-radius: 15px;
    border: 1px solid #ff0000;
    display: inline-block;
    padding: 3px 10px;
    margin-top: 5px;
    font-size: 0.8rem;
}

#edit-listing-update-btn-p {
    margin: 15px 0px 0px 0px;
}

#xter-critical-color {
    color: #FF0000;
}

#edit-listing-id-span {
    padding: 2px 8px;
    display: inline-block;
    margin-bottom: 5px;
    border-radius: 5px;
    border: solid 1px #000;
}

#edit-listing-date-p {
    margin: 5px 0 0 0;
}

.edit-listing-chars-span {
    display: block;
}

#edit-listing-update-btn, #edit-listing-cancel-btn {
    width: 100px;
}

#qty_error_p {
    margin: 0px;
    float: left;
    display: inline-block;
    padding-left: 4%;
}

#measure_error_p {
    margin: 0px;
    float: right;
    display: inline-block;
     padding-right: 18%;
}

.signin-errors-p {
    font-size: 0.75rem;
    color: red
}

.signin-errors-p-margin {
    margin: 0px;
}

@media (max-width: 1350px) {
    .EditListing-main-div {
        width: 400px;
    }

    #edit-listing-qty-measure-p {
        display: block;
        margin: 0;
    }

    .edit-listing-quantity-input {
        width: 80px;
    }

    .edit-listing-measure-select {
        width: 110px;
    }
}


@media (max-width: 1225px) {
    .EditListing-main-div {
        width: 300px;
    }

    .edit-listing-commodity-select, .edit-listing-measure-select,
    .edit-listing-available-select {
        padding: 2px 5px;
    }
    .edit-listing-quantity-input {
        width: 65px;
    }

    .edit-listing-measure-select {
        width: 140px;
    }

    .edit-listing-available-select {
        width: 50px;
    }

    #listing-close-warning-span, .signin-errors-p {
        font-size: 0.6rem;
    }
}

@media (max-width: 900px) {
    .EditListing-main-div {
        width: 250px;
    }

    #listing-close-warning-span, .signin-errors-p {
        font-size: 0.4rem;
    }
}

@media (max-width: 500px) {
    .edit-listing-card {
        box-shadow: none;
    }

    #edit-listing-update-btn, #edit-listing-cancel-btn {
        padding: 3px 0;
    }
}