.CurrentFarmerUser_main_div {
    display: inline; 
    float: left;
    width: 65%;
}

.CurrentProspectUser_main_div {
    display: inline;
    float: left;
    width: 65%;
    background-color: #FFF;
    height: 100vh;
}

#img_div {
    margin: auto;
    height: 180px;
    width: 150px;
}

.current_user_img {
    width: 100%;
    height: 100%;
}

#edit_btn_div {
    margin-top: 30px;
}